.btn {
    padding: 15px 55px;
    border: 3px solid $white;
    border-radius: 3px;
    font-size: $font-size--18px;
    font-weight: $bold;
    text-transform: uppercase;
    @extend %transition;

    @media (min-width: $screen-md) {
        padding: 18px 65px;
    }

    @media (min-width: $screen-lg) {
        padding: 20px 75px;
    }

    &:hover {
        color: $red;
        border-color: $red;
    }
}