.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 20px 0;

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        padding: 5px 0;
        background-color: $brown;
        box-shadow: 0 3px 3px rgba($color: $brown, $alpha: 0.5);
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }
}

/* Nav */
.nav {
    &.active {
        display: block !important;
        position: absolute;
        top: -29px;
        left: 20px;
        width: 100% ;

        .nav__inner {
            width: 100px;
            flex-wrap: wrap;
            align-items: center;
        }

        .nav__item {
            width: 100%;
            margin-left: 0;
            border-top: 1px solid $brown-light;
            border-bottom: 1px solid $brown-light;
            padding: 5px;
            font-size: $font-size--12px;

            @media (min-width: $screen-sm) {
                font-size: $font-size--14px;
            }
        }
    }

    &__inner {
        @include flex ($justify-content:flex-end, $align-items:center);
        list-style: none;
        color: $white;
        text-transform: uppercase;
    }

    &__item {
        font-size: $font-size--14px;
        @extend %text-shadow;
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }

        @media (min-width: $screen-md) {
            margin-left: 30px;
            font-size: $font-size;
        }
    }

    &__link {
        display: block;
        @extend %transition;

        &:hover {
            color: $red;
        }
    }

}

/* Nav-toggle */
.nav-toggle {
	width: 30px;
	padding: 10px 0;
	// display: none; 

	font-size: 0;
	color: transparent;

	border: 0;  
	background: none; 
	
	cursor: pointer;
	
	position: absolute;
	top: -10px;
	right: 0;
    z-index: 1;
    
    &:focus {
        outline: 0;
    }

    &__item {
        display: block;
        width: 100%;
        height: 3px;
    
        background-color: $white;
    
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    
        @extend %transition;

        &:before,
        &:after {
            content: "";
            width: 100%;
            height: 100%;

            background-color: #fff;

            position: absolute;
            left: 0;
            z-index: 1;

            transition: transform .2s linear;
        }

        &:before {
            top: -8px;
        }
        
        &:after {
            bottom: -8px;
        }
    }
}

/*делаем крестик в бургер меню при .active*/
.nav-toggle.active .nav-toggle__item { 
	background: none;
}

.nav-toggle.active .nav-toggle__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translate3d(0px, -2px, 0);
}

.nav-toggle.active .nav-toggle__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translate3d(0px, 3px, 0);
}




