%transition {
    transition: all .2s linear;
}

%text-shadow {
    text-shadow: 0 1px 50px $shadow;
}

%background-gradient {
    background: linear-gradient(to bottom, transparent 0, transparent 50%, rgba(45, 9, 60, 0.70) 100%);
}
