$white: #fff;
$black: #000;
$red: #f57365;

$font-family: 'Lato', sans-serif;
$font-family--times: 'Times New Roman', Times, serif;

$font-size: 16px;
$font-size--10px: 0.625em;
$font-size--12px: 0.75em;
$font-size--14px: 0.875em;
$font-size--16px: 1em;
$font-size--18px: 1.125em;
$font-size--30px: 1.187em;
$font-size--36px: 2.25em;
$font-size--100px: 6.25em;

$light: 300;
$regular: 400;
$bold: 700;

$line-height: 1.125em;
$line-height--big: 1.2em;

$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;